<%= render_mail_error(@errors) %>
<fieldset id="email">
  <legend><%= t("ez_email") %></legend>
  <% form_tag ez_mail_path(:issue_id => issue), :method => :post, :id => "create_email_form" do -%>
      <div class="label_wrapper">
        <%= label_tag 'recipients', "#{t('ez_recipients')}:" %>
        <%= text_area_tag 'recipients', attributes[:recipients] %>

      </div>
      <div class="label_wrapper">
        <%= label_tag "#{t('ez_subject')}:" %>
        <%= text_field_tag 'subject', attributes[:subject] || "#{issue.tracker.name} ##{issue.id}: #{issue.subject}" %>
      </div>
      <%= hidden_field_tag 'save_flag', 0 %>
      <textarea name="content" id="issue_content" cols="40" rows="10"><%= attributes[:content] %></textarea><br/>
      <%= submit_tag t("ez_send_mail") %> <%= submit_tag t("ez_send_and_save_mail"), :id => "send_and_save" %>
  <% end -%>
</fieldset>