<% content_for :header_tags do -%>
    <%= stylesheet_link_tag 'ez_issue_summaries/new.css', 'jquery.autocomplete.css', :plugin => 'redmine_ezsummary' %>
    <%= javascript_include_tag "jquery",
                               "jquery.autocomplete.js",
                               "jquery.bgiframe.min.js",
                               "ez_issue_summaries/new.js",
                               :plugin => 'redmine_ezsummary' %>
<% end -%>
<h2><%= l(:label_ezsummary_mail) %></h2>
<%= render :partial => "email_form", :locals => { :issue => @issue, :attributes => @attributes, :errors => @errors } %>

<%= render :partial => "templates", :object => @templates %>
